# @package _global_

defaults:
  - _self_
  - data: bobsl # choose datamodule with `test_dataloader()` for evaluation
  - model: vgg_slt
  - callbacks: default
  - logger: wandb
  - trainer: default
  - paths: default
  - extras: default
  - hydra: default
  - experiment: null

task_name: "eval"

tags: ["dev"]

# passing checkpoint path is necessary for evaluation
ckpt_path: logs/llama3_feats_lora/runs/2024-08-23_19-34-32/checkpoints/epoch_001.ckpt
oracle_test: False
